

#color
{
    padding: 20px; 
    display: flex;
    border-radius: 20px;
    background-color: blue;
    color: white;
    left: 40%;
    top: 40%;
    box-shadow: rgba(0,0,0, 0.7),-20px,20px;
}
#background
{  
    width: 100vw;
    height: max-content;
   
}

#table{
    
    left: 0px;
    cursor: pointer;
    text-align: center;
    display: none;
    
}
#login{
    width: 100vw;
    height: 100vh;  
}

form{
    width: max-content;
    padding: 20px;
    box-shadow:20px 20px 50px 15px black;
    z-index: 1000;

}
#login form table th,td {
    padding: 20px;
}
#Signup
{
    display: none;
}
#page
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
/* for welcome page of user */
#Analog_Clock
{
    width: 100vw;
    height: 100vh;
}
#clock-canvas
{
    border-radius: 50%;
    box-shadow: 20px 20px 50px 15px black ;
    margin:4rem 30rem;
    width: 20rem;
    height: 20rem;

}
#Digital_Clock{
    position: relative;
    width: 100vw;
    height: 100vh;
}
#Digi_Clock{
    position: relative;
    top: 50%;
    font: bolder;
    font-size: 30px;
    justify-content: center;

}
.card
{
    box-shadow: 20px 20px 50px 15px black ; 
    margin-left: 2rem;
}
#Text_Edit
{
    width: 100vw;
    height: 100vh;
}
#text{
    position: relative;
    left: 30%;
    top: 30%;
}

